{% extends "home.html" %}
{% block content %}

<!--Previous button-->
{% if file.url_path != '' %}
<a class="btn btn-outline-info btn-lg btn-block" role="button" href="{{site_paths.data_site}}{{file.url_full_path()}}">Previous location.</a>

{% else %}
<a class="btn btn-outline-info btn-lg btn-block" role="button" href="{{site_paths.home_site}}">Previous location.</a>
{% endif %}


<div class="container-fluid" style="border:1px solid #333333;">
	<div class="row">
		<!--Upload handler-->
		<div class="col-sm-6" style="background-color:#e6e6e6; border:1px solid #333333;">
			<h2>Upload file into current directory:</h2>

			<form action="/upload" method="post" enctype="multipart/form-data">
				<input type="file" id="upload" name="upload">
				<input type="hidden" id="path" name="path" value="{{file.url_path}}">
				<input type="hidden" id="configuration" name="configuration" value={{file.configuration.url}}>
				<div class="mt-3">
					<button type="submit" class="btn btn-primary">Upload</button>
				</div>
			</form>
		</div>
		<!--Filter handler-->
		<div class="col-sm-6" style="background-color:#e6e6e6; border:1px solid #333333;">

		<h2>Filter files:</h2>
		<form action="{{site_paths.data_site}}p{{page}}/{{file.url_full_path()}}/{{file.name}}" method="post">
			<input type="text" class="form-control input-lg " id="mask" name="mask" placeholder="Mask for file..." value="{{ file.mask }}">
			<div class="mt-3">
				<button type="submit" class="btn btn-primary">Filter</button>
			</div>
		</form>
		</div>
	</div>
</div>

<div class="container">
	{% if file.list_files(page) %}
		<h2>Files in {{file.configuration.name}}{{file.url_path}}:</h2>

		{% include 'pagination.html' %}
		{% include 'table.html' %}

		{% include 'pagination.html' %}
		{% if file.count_filtered_files > 1 %}
			<p>Viewing {{ file.count_filtered_files }} filtered files of {{ file.count_not_filtered_files }} in current directory.</p>
		{% else %}
			<p>Viewing {{ file.count_filtered_files }} filtered file of {{ file.count_not_filtered_files }} in current directory.</p>
		{% endif %}
	{% else %}
	<div class="alert alert-danger" role="alert" style="text-align: center;">
		<h1>There is no files to view.</h1>
	</div>

	{% endif %}
</div>

{% endblock %}
